# custom .gitignore for Python projects
/dataset
/aac_embeddings

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.cache

# Environments
.env
env/
